# Port cấu hình cho server Backend Express
PORT=3000

# SQLite Database URL cho Prisma
DATABASE_URL="file:./dev.db"

# Cấu hình Gửi Email qua Gmail SMTP (Khuyên dùng khi thử nghiệm cá nhân)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=465
SMTP_USER="your-email@gmail.com"
SMTP_PASS="your-app-password"
EMAIL_FROM_NAME="Future Mail"

# Cấu hình Resend API (Dành cho tài khoản có tên miền riêng)
RESEND_API_KEY=""
EMAIL_FROM=""
